{% extends "base.html" %}

{% block title %}
  leader list
{% endblock title %}

{% block content %}

{% regroup participation_list by gathering as participations_by_gathering %}

<h3>
  Current time range (All time) contains {{participation_list.count}} leaders in {{participations_by_gathering|length}} gatherings
</h3>

<ul>
    {% for gathering, participations in participations_by_gathering %}
        <li>{{ gathering }}
            <ul>
            {% for participation in participations %}
                <li>{{ participation.attending.attendee }}: {{participation.character.display_name}} ({{participation.category}})</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>


{% endblock content %}
