{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  leader list
{% endblock title %}

{% block extra_css %}
  <link rel="preload"
        as="style"
        href="{% static 'select2/select2.min.css' %}"
        onload="this.rel='stylesheet'">

  <link href="{% static 'devextreme/dx.common.css' %}"
        rel="stylesheet"
        integrity="sha384-tLz5Tydg/xklsoMnJF/toyWmFcRp4O4AbZKkGKuXNqmjNaFeYjy2mYOyYIFBXYTS sha512-5DABqEilHgTWb2j3Ow0N36gd6jgLiMbhkDZq8ncxGj0faGEXIRidfGMiUULAo+MAKGYMPYkQRe8TpvqnQoh3tg=="
        crossorigin="anonymous">

  <link href="{% static 'devextreme/dx.light.compact.css' %}"
        rel="stylesheet"
        integrity="sha384-dcLPyuNVKwIswNIf6gZzh+aX6LgurEVXyWuTIgudeFqHeV1DY72l2Rnjb8GcaBc6 sha512-WMaSceA1tj7q/HeihmUvl950vX76FHC0yqupdwkoRGmTAOjugjV64DSjt5BT3UEoPXQEQQScG72tfw5oSDo+Rw=="
        crossorigin="anonymous">


{% endblock extra_css %}

{% block extra_head %}
  <script defer type="text/javascript"
          src="{% static 'devextreme/dx.all.js' %}"
          integrity="sha384-98iK8PeuSLCc+1tcPVMsZT7Juh1sMcGKm1b1A0CheOwX6Meg4Ajku2x+JmbS2TpX sha512-Ik/gIwyr2yvUUUHRrX5vAPi4b6PNFjhsO4k3czdgRY1ocUoWfWAD5zYVyLEM9ssGnDzFO5CBCWkfA7m6UGATeA=="
          crossorigin="anonymous">
  </script>

  <script defer
          src="{% static 'select2/select2.min.js' %}"
          integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks="
          crossorigin="anonymous">
  </script>

  <script defer
          src="{% static 'js/children_ministry/participations/index.js' %}">
  </script>

{% endblock extra_head %}

{% block content %}

 <form class="d-flex flex-wrap participations-filter"
        data-url="{{request.get_full_path}}">
    <div class="form-group">
      <label class="control-label"
             for="filter-start-date">
        Filter from:
      </label>
      <input class="form-control filter-start-date"
             id="filter-start-date"
             name="start"
             type="date"/>
    </div>

    <div class="form-group">
      <label class="control-label"
             for="filter-finish-date">
        Filter till (excluded):
      </label>
      <input class="form-control filter-finish-date"
             id="filter-finish-date"
             name="finish"
             type="date"/>
    </div>

    <div class="form-group d-flex flex-column col-5">
      <label class="control-label"
             for="filter-meets">
        Select groups:
      </label>
      <select class="basic-multiple form-control filter-meets"
              id="filter-meets"
              name="meets"
              multiple="multiple">
        {% for slug, meet in available_meets.items %}
          <option value="{{slug}}">{{meet.display_name}}</option>
        {% endfor %}
      </select>
    </div>

   <div id="gridContainer"></div>

  </form>

  <div class="participations"
       data-default="<h3>Select any groups to list participants, results can be filtered by the start and end dates(excluded).</h3>">
    {% include 'occasions/children_ministry/participations/_grouped_list.html' %}
  </div>



{% endblock content %}
