{% load static i18n %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="preload"
          as="style"
          href="{% static 'bootstrap/bootstrap.min.css' %}"
          onload="this.rel='stylesheet'">

    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->

    <!--    <link href="{% static 'css/project.css' %}" rel="stylesheet">-->
    <link rel="preload"
          as="style"
          href="{% static 'css/project.css' %}"
          onload="this.rel='stylesheet'">

    {% endblock css%}

    {% block extra_css %}
    {% endblock extra_css%}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Attendees{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the head of the document with defer so the pages load without rerendering -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->
      <script defer
              src="{% static 'jquery/jquery-3.4.1.min.js' %}"
              integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
              crossorigin="anonymous">
      </script>
      <script defer
              src="{% static 'popper/popper.min.js' %}"
              integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
              crossorigin="anonymous">
      </script>
      <script defer
              src="{% static 'bootstrap/bootstrap.min.js' %}"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
              crossorigin="anonymous">
      </script>
      <script defer
              src="{% static 'fontawesome/solid.min.js' %}"
              integrity="sha384-+2/MEhV42Ne5nONkjLVCZFGh5IaEQmfXyvGlsibBiATelTFbVGoLB1sqhczi0hlf"
              crossorigin="anonymous">
      </script>
      <script defer
              src="{% static 'fontawesome/fontawesome.min.js' %}"
              integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa"
              crossorigin="anonymous">
      </script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->

      <script defer
              src="{% static 'js/shared/base.js' %}">
      </script>
      <script defer
              src="{% static 'js/shared/utilities.js' %}">
      </script>


    {% endblock javascript %}

    {% block extra_head %}
    {% endblock extra_head %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbar-supported-content"
                aria-controls="navbar-supported-content"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"
           href="{% url 'home' %}">
          {{ user_organization_name }}
        </a>

        <div class="collapse navbar-collapse"
             id="navbar-supported-content">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'home' %}">
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'about' %}">
                About
              </a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   role="tab"
                   href="#"
                   aria-haspopup="true"
                   aria-expanded="false">
                  {% trans "My Info" %}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     title="Coworkers Activities"
                     href="/{{user_organization_name_slug}}/occasions/coworkers/organization_attendances/">
                    {% trans "Coworkers activities" %}
                  </a>
                  <a class="dropdown-item"
                     title="My Activities"
                     href="/{{user_organization_name_slug}}/occasions/user/organization_attendances/">
                    {% trans "My activities" %}
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   role="tab"
                   href="#"
                   aria-haspopup="true"
                   aria-expanded="false">
                  {% trans "Children Ministry" %}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="/persons/attendings">
                    {% trans "Registration updates" %}
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"
                     title="Student Roaster"
                     href="/{{user_organization_name_slug}}/persons/children-ministry/cfcc-regular-kid-activities/attendings/?characters=cfcc-kid-student">
                    All participations (group)
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"
                     title="Leader List"
                     href="/{{user_organization_name_slug}}/occasions/children-ministry/cfcc-regular-kid-activities/attendances/">
                    All attendance (date)
                  </a>
                </div>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link"
                   href="{% url 'users:detail' request.user.username %}">
                  {% trans "My Profile" %}
                </a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link"
                   href="{% url 'account_logout' %}">
                  {% trans "Sign Out" %}
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link"
                   class="nav-link"
                   href="{% url 'account_signup' %}">
                  {% trans "Sign Up" %}
                </a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link"
                   class="nav-link"
                   href="{% url 'account_login' %}">
                  {% trans "Sign In" %}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
              </div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

  </body>
</html>
 
